<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head', {title : 'Añadir Libro'}) %>
  <!-- HEAD -->
  <body>
    <header>
      <nav><%- include('../partials/header') %></nav>
    </header>
    <main class="main-adminProdcuts">
      <section class="main-crear-producto">
        <h1>Crear Producto</h1>
        <form id="product-form" action="/create-book" method="POST" enctype="multipart/form-data">
          <div>
            <p>ISBN:</p>
            <input type="text" id="isbn" class="input-text" name="isbn" value="<%= (locals.oldData) ? oldData.isbn : null %>"/>
            <% if (locals.errors && errors.isbn ) {%>
              <p class="error-form"><%= errors.isbn.msg%></p>
            <%}%>
            <div id="warning-text-isbn" class="message">
              <p>Sólo se aceptan números</p>
            </div>
          </div>
          <div>
            <p>Titulo del libro:</p>
            <input type="text" id="title" class="input-text" name="title" value="<%= (locals.oldData) ? oldData.title : null %>"/>
            <% if (locals.errors && errors.title ) {%>
              <p class="error-form"><%= errors.title.msg%></p>
            <%}%>
            <div id="warning-text-title"  class="message">
              <p>Escribe un título de al menos 5 caracteres</p>
            </div>
          </div>
          <div>
            <p>Autor:</p>
            <input type="text" id="author" class="input-text" name="author" value="<%= locals.oldData ? oldData.author : null %>"/>
            <% if (locals.errors && errors.author ) {%>
              <p class="error-form"><%= errors.author.msg%></p>
            <%}%>
            <div id="warning-text-author"  class="message">
              <p>Escribe un nombre de autor</p>
            </div>
          </div>
          <div>
            <p>Editorial:</p>
            <input class="input-text" type="text" id="editorial" name="editorial" value="<%= locals.oldData ? oldData.editorial : null %>"/>
            <% if (locals.errors && errors.editorial ) {%>
              <p class="error-form"><%= errors.editorial.msg%></p>
            <%}%>
            <div id="warning-text-editorial"  class="message">
              <p>Escribe un nombre de editorial</p>
            </div>
          </div>
          <div>
            <p>Año de publicación:</p>
            <input class="input-text" id="year" type="text" name="year" value="<%= locals.oldData ? oldData.year : null %>"/>
            <% if (locals.errors && errors.year ) {%>
              <p class="error-form"><%= errors.year.msg%></p>
            <%}%>
            <div id="warning-text-year"  class="message">
              <p>Se acepta número de 4 digitos</p>
            </div>
          </div>
          <div>
            <p>Idioma</p>
            <select name="languages_id">
              <% let lenguajes = ["Seleccionar", "Español", "Inglés" ] %>
              <% lenguajes.forEach((lenguaje, index) => { %>
                <option value="<%= index === 0 ? null : index %>"> <%= lenguaje %> </option> 
              <% })%>
            </select>
            <% if (locals.errors && errors.languages_id ) {%>
              <p class="error-form"><%= errors.languages_id.msg%></p>
            <%}%>
          </div>
          <div>
            <p>Género:</p>
            <select name="genres_id">
              <% let generos = ["Seleccionar", "Acción", "Romance", "Aventura", "Suspenso", "Terror", "Biografía", "Literatura", "Científico", "Ciencia Ficción", "Fantástica"] %>
              <% generos.forEach((genero, index) => { %>
                <option value="<%= index === 0 ? null : index %>"> <%= genero %> </option> 
              <% })%>
            </select>
            <% if (locals.errors && errors.genres_id ) {%>
              <p class="error-form"><%= errors.genres_id.msg%></p>
            <%}%>
          </div>
          <div>
            <p>Precio:</p>
            <input class="input-text" id="price" type="text" name="price" value="<%= locals.oldData ? oldData.price : null %>"/>
            <% if (locals.errors && errors.price ) {%>
              <p class="error-form"><%= errors.price.msg%></p>
            <%}%>
            <div id="warning-text-price"  class="message">
              <p>Sólo se aceptan números</p>
            </div>
          </div>
          <div>
            <p>Descuento:</p>
            <input class="input-text" id="discount" type="text" name="discount" value="<%= locals.oldData ? oldData.discount : null %>"/>
            <% if (locals.errors && errors.discount ) {%>
              <p class="error-form"><%= errors.discount.msg%></p>
            <%}%>
            <div id="warning-text-discount"  class="message">
              <p>Sólo se aceptan números</p>
            </div>
          </div>
          <div class="description">
            <p>Descripción:</p>
            <textarea
              type="text"
              id="description"
              class="input-text"
              name="description"
              placeholder="Escribe la descripción"
            ><%= locals.oldData ? oldData.description : null %></textarea>
            <% if (locals.errors && errors.description ) {%>
              <p class="error-form"><%= errors.description.msg%></p>
            <%}%>
            <div id="warning-text-description"  class="message">
              <p>Se aceptan al menos 20 caracteres</p>
            </div>
          </div>
          <br />
          <!-- input file -->
          <input type="file" class="input-text" id="file" value="Subir" name="image" /><br />
          <% if (locals.errors && errors.image ) {%>
            <span class="error-form"><%= errors.image.msg%></span>
          <%}%>
          <div id="warning-text-description"  class="message">
            <p>Se aceptan formatos de imagen (gif, jpg, png o jpeg)</p>
          </div>
          <input id="submit" class="new-product" type="submit" value="Enviar" />
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/books.js"></script>
  </body>
</html>
