<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('../partials/head', {title : 'Editar Libro'}) %>
<!-- HEAD -->
<body>
    <form action="/edit-book/<%= oldBook.id %>?_method=PUT" method="POST">
        <p>Titulo del libro:</p>
        <input type="text" name="title" value="<%= oldBook.title %>">
        <p>Autor:</p>
        <input type="text" name="author" value="<%= oldBook.author %>">
        <p>Editorial:</p>
        <input type="text" name="editorial" value="<%= oldBook.editorial %>">
        <p>Año de publicación:</p>
        <input type="text" name="year" value="<%= oldBook.year %>">
        <p>Idioma</p>
        <input type="text" name="language" value="<%= oldBook.language %>">
        <p>Género:</p>
        <input type="text" name="genre" value="<%= oldBook.genre %>">
        <p>Precio:</p>
        <input type="text" name="price" value="<%= oldBook.price %>">
        <p>Descuento:</p>
        <input type="text" name="discount" value="<%= oldBook.discount %>">
        <p>Descripción:</p>
        <textarea type="text" name="description" placeholder="Escribe la descripción"><%= oldBook.description %>"</textarea>
        <br>
        <input type="submit" value="Editar">
    </form>
    <form action="/<%= oldBook.id %>?_method=DELETE" method="POST">
        <button>Eliminar Libro</button>
    </form>
</body>
</html>