<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head', {title : 'Detalle del Producto'}) %>
  <!-- HEAD -->
  <body>
    <%- include('../partials/header') %>
    <main class="main-product-detail">
      <section class="main-info-libro">
        <% if (locals.book) { %>
        <h1 class="titulo"><%= book.title %></h1>
        <h2 class="autor"><%= book.author %> - <%= book.editorial %></h2>
        <div class="main-div--img">
          <img src="/images/<%= book.image %> " alt="Imagen del libro" />
        </div>
        <table class="book-detail-table-desktop">
          <tr>
            <td>Autor:</td>
            <td><%= book.author %></td>
          </tr>
          <tr>
            <td>Género:</td>
            <td><%= book.genre %></td>
          </tr>
          <tr>
            <td>Editorial:</td>
            <td><%= book.editorial %></td>
          </tr>
          <tr>
            <td>Año:</td>
            <td><%= book.year %></td>
          </tr>
          <tr>
            <td>Idioma:</td>
            <td><%= book.language %></td>
          </tr>
          <tr>
            <td>ISBN:</td>
            <td><%= book.isbn %></td>
          </tr>
        </table>
        <article class="book-details">
          <h1 class="titulo"><%= book.title %></h1>
          <h2 class="autor"><%= book.author %> - <%= book.editorial %></h2>
          <p class="precio precio-mobile">$ <%= book.price %> COP</p>
        </article>
        <article class="comprar">
          <p class="precio precio-desktop">$ <%= book.price %> COP</p>
          <div class="plus-minus-button">
            <button class="minus" type="button">  -  </button>
            <input class="input-minus-plus" type="text" value="1" readonly="true"/>
            <button class="plus" type="button">  +  </button>
          </div>
          <button class="button-comprar"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
          <button class="button-comprar">Comprar Ahora</button>
        </article>
      </section>
      <section class="sipnosis-table">
        <article class="sipnosis">
          <h2>Sipnosis</h2>
          <p><%= book.description %></p>
        </article>
        <table class="book-detail-table-mobile">
          <tr>
            <td>Autor:</td>
            <td><%= book.author %></td>
          </tr>
          <tr>
            <td>Género:</td>
            <td><%= book.genre %></td>
          </tr>
          <tr>
            <td>Editorial:</td>
            <td><%= book.editorial %></td>
          </tr>
          <tr>
            <td>Año:</td>
            <td><%= book.year %></td>
          </tr>
          <tr>
            <td>Idioma:</td>
            <td><%= book.language %></td>
          </tr>
          <tr>
            <td>ISBN:</td>
            <td><%= book.isbn %></td>
          </tr>
        </table>
        <% } else { %>
        <p>Detalles de libro inexistente</p>
        <% } %>
      </section>
      <!-- <section class="comentarios">
        <h2>Comentarios</h2>
        <article>
          <p class="nombre">Diego Castillo</p>
          <p class="comentario">"El mejor libro."</p>
        </article>
        <article>
          <p class="nombre">Harold Sastoque</p>
          <p class="comentario">"Gran Autor, gran nobel."</p>
        </article>
        <article>
          <p class="nombre">Jose Salcedo</p>
          <p class="comentario">
            "Estando el coronel Aureliano Buendía frente al peloton de
            fusilamiento recordo aquella tarde en que su padre lo llevo a
            conocer el hielo"
          </p>
        </article>
        <p>Ver más ...</p>
      </section> -->
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>

    <script>
      let inputMinusPlus = document.querySelector(".input-minus-plus");
      document.querySelector(".minus").addEventListener("click", function () {
        if (inputMinusPlus.value >= 2) {
          inputMinusPlus.value--;
        }
      });
      document.querySelector(".plus").addEventListener("click", function () {
        if (inputMinusPlus.value <= 99) {
          inputMinusPlus.value++;
        }
      });
    </script>
  </body>
</html>
