<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') %>
    <title>Detalle del Producto - GaBook</title>
  </head>
  <body>

    <header>
      <nav>
        <%- include('../partials/header') %> 
      </nav>
  </header>

    <main class="main-product-detail">
      <section class="main-info-libro">
        <% if (locals.book) { %> 
        <h1 class="titulo"><%= book.title %></h1>
        <h2 class="autor"><%= book.author %> - <%= book.editorial %></h2>
        <div class="main-div--img">
          <img src="/images/<%= book.image %> " alt="Imagen del libro" />
        </div>
        <article>
          <h1 class="titulo"><%= book.title %></h1>
          <h2 class="autor"><%= book.author %> - <%= book.editorial %></h2>
          <p class="precio">$ <%= book.price %> COP</p>
          <p>Valoración</p>
          <p>10/10</p>
        </article>
        <article class="comprar">
          <input type="number" placeholder="1" />
          <a href="#">
            <i class="fas fa-shopping-cart"></i> Agregar al carrito
          </a>
          <button>COMPRAR</button>
        </article>
      </section>
      <section class="sipnosis-table">
        <article class="sipnosis">
          <h2>Sipnosis</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
            ducimus magnam. Adipisci neque minus ut? Qui dolore illum tempora
            amet. Ipsam unde inventore ut harum tenetur corrupti praesentium
            tempora doloremque. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Facere voluptatem amet ratione qui, accusantium
            blanditiis iusto vitae earum, quaerat nemo est illo ab maiores eius
            architecto, esse exercitationem quos harum. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Officiis corrupti inventore iusto
            adipisci eaque at qui nemo excepturi aliquam, itaque alias delectus
            sit maiores laboriosam harum obcaecati, laborum voluptatibus quam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            rem officiis eligendi nostrum nihil. Odit fugiat earum molestias,
            eaque fugit quam alias aliquid adipisci veritatis consectetur.
            Impedit vitae praesentium amet. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolorem ipsum enim quidem perferendis
            eligendi similique veniam officia necessitatibus a tenetur! Illum
            quia assumenda sit itaque voluptatem a totam soluta accusantium!
          </p>
        </article>
        <table>
          <tr>
            <td>Autor:</td>
            <td><%= book.author %></td>
          </tr>
          <tr>
            <td>Género:</td>
            <td>Literatura</td>
          </tr>
          <tr>
            <td>Editorial:</td>
            <td><%= book.editorial %> </td>
          </tr>
          <tr>
            <td>Año:</td>
            <td>2021</td>
          </tr>
          <tr>
            <td>Idioma:</td>
            <td>Español</td>
          </tr>
          <tr>
            <td>ISBN:</td>
            <td>123456789-1</td>
          </tr>
        </table>
        <% } else { %>
          <p>Detalles de libro inexistente</p>
        <% } %> 
      </section>
      <section class="comentarios">
        <h2>Comentarios</h2>
        <article>
          <p class="nombre">Diego Castillo</p>
          <p class="comentario">"El mejor libro."</p>
        </article>
        <article>
          <p class="nombre">Harold Sastoque</p>
          <p class="comentario">"Gran Autor, gran nobel."</p>
        </article>
        <article>
          <p class="nombre">Jose Salcedo</p>
          <p class="comentario">
            "Estando el coronel Aureliano Buendía frente al peloton de
            fusilamiento recordo aquella tarde en que su padre lo llevo a
            conocer el hielo"
          </p>
        </article>
        <p>Ver más ...</p>
      </section>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %> 

    <!-- <h1>Detalle del producto - Gabook</h1>
    <img src="./images/gabooklogo1.png" alt="" /> -->
  </body>
</html>
