<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head', {title : 'Inicio de Sesión'}) %>
  <!-- HEAD -->
  <body id="body-login">
    <main id="main-login">
      <div class="cuadro-login">
        <div class="login-atras">
          <a href="/"><i class="fas fa-arrow-circle-left"></i>Atrás</a>
        </div>
        <img src="./images/gabooklogo1.png" alt="" />
        <h2>¡Hola <%= (locals.newUser) ? newUser.name : null %> Bienvenido! Inicia tu Sesión:</h2>
        <form class="loginForm" action="/login" method="POST">
          <% if (locals.data ) {%>
            <p ><%= data.name%></p>
            <%}%>
          <br>
          <p>
            <label for="loginMail">Correo:</label>
            <br />
            <input class="inputEmaillogin" type="mail" name="loginMail" value="<%=locals.oldData ? oldData.loginMail : null %>"/>
            <% if (locals.errors && errors.loginMail ) {%>
              <p class="sign-in-error-text"><%= errors.loginMail.msg%></p>
              <%}%>
              <p class="email-error-text"><small>Inserte un correo valido, correo@dominio.com</small></p>
          </p>
          <br />
          <p>
            <label for="loginPasswd">Contraseña:</label>
            <br />
            <input
              type="password"
              name="loginPasswd"
              id="login-passwd"
            />
            <% if (locals.errors && errors.loginPasswd ) {%>
              <p class="sign-in-error-text"><%= errors.loginPasswd.msg%></p>
              <%}%>
              <p class="password-error-text"><small>Escriba su contraseña</small></p>
          </p>
          <br />

          <button type="submit">Ingresa</button>
        </form>
        <div class="sin-cuenta">
          <p>
            <a href="#">¿Olvidaste tu contrasña?</a>
          </p>
          <br />
          <p>
            ¿No estás registrado(a)? <a href="./signIn">Regístrare en GaBook</a>
          </p>
        </div>
      </div>
    </main>
    <script src="js/login.js"></script>
  </body>
</html>
