<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head', {title : 'Inicio de Sesión'}) %>
  <!-- HEAD -->
  <body id="body-login">
    <main id="main-login">
      <div class="cuadro-login">
        <div class="login-atras">
          <a href="/"><i class="fas fa-arrow-circle-left"></i>Atrás</a>
        </div>
        <img src="./images/gabooklogo1.png" alt="" />
        <h2>¡Bienvenido! Registrate:</h2>

        <form action="/signIn" method="POST" enctype="multipart/form-data" class="signInForm">
          <p class="signInName">
            <label for="login-user">Usuario: *</label>
            <br />
            <input class="inputName" type="text" name="name" minlength="3" value="<%=locals.oldData ? oldData.name : null %>" />
            <% if (locals.errors && errors.name ) {%>
              <p class="sign-in-error-text"><small><%= errors.name.msg%></small></p>
              <%}%>
              <p class="name-error-text"><small>Debe ingresar un nombre de usuario mayor a 3 caracteres.</small></p>
          </p>
          <br />
          <p>
            <label for="loginMail">Correo/Email: *</label>
            <br />
            <input class="inputEmail" type="mail" name="loginMail" minlength="3" value="<%=locals.oldData ? oldData.loginMail : null %>"/>
            <% if (locals.errors && errors.loginMail ) {%>
              <p class="sign-in-error-text"><small><%= errors.loginMail.msg%></small></p>
              <%}%>
              <p class="email-error-text"><small>Inserte un correo valido, correo@dominio.com</small></p>
            
          </p>
          <br />
          <p>
            <label for="login-passwd">Contraseña: *</label>
            <br />
            <input type="password" name="loginPasswd" id="login-passwd" />
            <% if (locals.errors && errors.loginPasswd ) {%>
              <p class="sign-in-error-text"><small><%= errors.loginPasswd.msg%></small></p>
              <%}%>
              <p class="password-error-text"><small>La contraseña debe tener MAYUSCULAS, minúsculas, números, caracteres especiales (!"#$%&/=?¡) y al menos 8 caracteres!</small></p>
          </p>
          <br />
          <p>
            <label for="login-image">Imagen:</label>
            <br />
            <input  type="file" name="loginImage" id="login-image"  />
            <% if (locals.errors && errors.loginImage) {%>
              <p class="sign-in-error-text"><small><%= errors.loginImage.msg%></small></p>
              <%}%>
              <p class="image-error-text"><small>La Imagen debe ser .jpg .pgn .gif</small></p>
          </p>
          <button type="submit">Registrarme</button>
        </form>
        <div class="sin-cuenta">
          <p>
            ¿Ya tienes una cuenta? <a href="./login">Inicia sesion en GaBook</a>
          </p>
        </div>
      </div>
    </main>
    <script src="js/index.js"></script>
  </body>
</html>
